body{
	background: #006EB2 url(bg.jpg);
	font-family: 'Open Sans','Verdana', Arial, sans-serif;

}

.wrapper{
	width: 960px;
	margin: 0 auto;
}

.header{
	background: #fff;
	min-height: 105px;
	width: 100%;
	border-radius: 5px;
	margin: 10px 0;
}

.logo-header{
	float:left;
}

.logo-header a img{
	padding: 5px 25px;
	height: 85px;
}

.text-header{
	float: right;
}

.text-header p{
	font-size: 24px;
	text-align: center;
	line-height: 43px;
	margin-right: 188px;
	font-weight: bold;
	color: #386EA4;
}

.nav{
	width: 100%;
	background: #fff;
	border-radius: 5px;
	clear: both;
	float: left;
	height: 42px;
	border-bottom: 2px solid #E67731;
}

.menu {
	z-index: 9;
	float: left;
	padding: 0 5px;
}

.menu ul ul{
	display: none;
}

.menu ul li:hover > ul{
	display: block;
}

.menu ul{
	padding: 0;
	list-style: none;
	position: relative;
	display: inline-block;
	background: #fff;
	width: 100%;
	color: #386EA4;
	margin: 0;
	/*border-bottom: 2px solid #E67731;*/
	border-radius: 5px;
	cursor: pointer;
}

.menu ul li{
	float: left;
	padding: 10px 30px;
	font-weight: bold;
	font-size: 13px;
	transition: all 0.25s ease;
	border-top: 3px solid #fff;
}

.menu ul li a{
	padding: 5px 10px;
	display: block;
	color: #386EA4;
}

.menu ul li:hover{
	color: #E67731;;
	border-top: 3px solid #E67731;

}

.menu ul li:hover a{
	color: #fff;
}

.menu ul li:hover > ul{
	margin: 0;
	padding: 0;
}

.menu ul li:hover > ul li{
	float:none;
	display: block;
}

.menu ul li:hover > ul li a{
	color: #242424;
	min-width: 300px;

}

.menu ul li:hover > ul li a:hover{
	color: #fff;
	
}

.menu ul li{
	position: relative;
}

.menu ul li ul{
	position: absolute;
	top: 38px;
	left: 0px;
	min-width: 400px;
	border: none;
	box-shadow: 1px 3px 3px #ccc;
	border-radius: 0 0 5px 5px;
}

.menu ul li ul li{
	border-top: none;
	border-left: 3px solid #fff;

}

.menu ul li ul li:hover{
	border-top: none;
	border-left: 3px solid #E67731;
}

.menu ul li.active{
	color: #E67731;
}



.forgot-link{
	float: right;
	margin: 5px;
	width: 100%;
}

.forgot-link p{
	font-size: 12px;
	font-weight: bold;
	display: inline-block;
	margin: 0 6px;
	float: right;
}

.forgot-link a{
	color: #242424;
	text-decoration: none;
}

.forgot-link a:hover{
	color: #E67731;
}

.login{
	float: right;
	background: #fff;
	margin: 8px 25px 0 0;
	height: 35px;
}

.login p{
	margin: 9px 6px;
	display: inline-block;
	float: right;
}

.login label{
	font-size: 12px;
	font-weight: bold;
}

.login input{
	width: 125px;
	border-radius: 2px;
	border: 1px solid #aaa;
	padding: 3px 5px;
}

.login input[type=submit]{
	width: 65px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	color: #fff;
	display: inline-block;
	zoom: 1;
	margin: 0;
	cursor: pointer;
	text-align: center;
	padding: 4px 8px;
	width: auto;
	overflow: visible;
	line-height: 110%;
	background: -webkit-linear-gradient(rgba(220,109,39,1),rgba(230,119,49,1));
	background: -moz-linear-gradient(rgba(220,109,39,1),rgba(230,119,49,1));
	background: -ms-linear-gradient(rgba(220,109,39,1),rgba(230,119,49,1));
	background: -o-linear-gradient(rgba(220,109,39,1),rgba(230,119,49,1));
	background: linear-gradient(rgba(220,109,39,1),rgba(230,119,49,1));
	border: 1px solid rgba(84,84,84,.45);
	-webkit-box-shadow: inset 0 1px rgba(255,255,255,.4),0 2px 1px rgba(0,0,0,.1);
	box-shadow: inset 0 1px rgba(255,255,255,.4),0 2px 1px rgba(0,0,0,.1);
	-webkit-transition: all .2s ease;
	-moz-transition: all .2s ease;
	-o-transition: all .2s ease;
	transition: all .2s ease;
}


.login input[type=submit]:hover{
	background: -webkit-linear-gradient(rgba(250,139,79,1),rgba(240,129,59,1));
	background: -moz-linear-gradient(rgba(250,139,79,1),rgba(240,129,59,1));
	background: -ms-linear-gradient(rgba(250,139,79,1),rgba(240,129,59,1));
	background: -o-linear-gradient(rgba(250,139,79,1),rgba(240,129,59,1));
	background: linear-gradient(rgba(250,139,79,1),rgba(240,129,59,1));
	border: 1px solid rgba(84,84,84,.45);
	text-decoration: none;
}



.main-content{
	background: #fff;
	position: relative;
	z-index: -1;
	border-radius: 5px;
	-moz-border-radius: 5px;
	min-height: 450px;
	margin: 63px 0 0 0;
	padding: 30px;
	box-shadow: 1px 2px 7px #2F2F2F;
}

