/*Calender*/

.calendars{
	width: auto !important;
	font-size: 16px !important;
}

.calendars-month{
	font-size: 16px !important;
}

.calendars-month-header{
	font-size: 16px;
	background-color: #E4E0DB;
	height: auto;
}

.calendars-month span{
	font-size: 16px !important;
	font-weight: bold;
}

.calendars-month a{
	font-size: 16px;
}

.calendars-ctrl{
	background-color: #D8D8D8;
	color: #333333;
	padding: 5px 0;
}

.calendars-nav{
	background-color: #D8D8D8;
	padding: 5px 0;
}

.calendars-nav a.calendars-cmd{
	color: #333333;
}

.calendars-cmd:hover{
	background-color: #D8D8D8;
	color: #555555;	
}

.calendars-month-header select{
	background-color: #E4E0DB;
	color: #333333;
	padding: 2px;
	height: auto;
}

.calendars-ctrl .calendars-cmd{
	color: #333333;
}

.calendars-ctrl .calendars-cmd:hover{
	background-color: #D8D8D8;
}

.calendars-month td .calendars-highlight{
	background-color: #E67731;
	color: #FFFFFF;
}

.calendars-month td .calendars-today{
	background-color: #386EA4; 
	color: #FFFFFF;
}

.calendars-month table{
	margin: 0;
}