

/********************************

CMS

********************************/


/*-----------menu-----------*/



body.front{
	background: #006EB2;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
}


.wrapper{
	width: 960px;
	margin: 0 auto;
}

.header{
	background: #fff;
	min-height: 105px;
	width: 100%;
	border-radius: 5px;
	margin: 10px 0;
}

.logo-header{
	float:left;
}

.logo-header a img{
	padding: 5px 25px;
	height: 85px;
}

.text-header{
	float: right;
}

.text-header p{
	font-size: 24px;
	text-align: center;
	line-height: 43px;
	margin-right: 188px;
	font-weight: bold;
	color: #386EA4;
}

/*.nav{
	width: 100%;
	background: #fff;
	border-radius: 5px;
	clear: both;
	float: left;
	height: 42px;
	border-bottom: 2px solid #E67731;
	}*/


	.menu {
		z-index: 9;
		float: left;
		padding: 0 5px;
	}

	.menu ul ul{
		display: none;
	}

	.menu ul li:hover > ul{
		display: block;
	}

	.menu ul{
		padding: 0;
		list-style: none;
		position: relative;
		display: inline-block;
		background: #fff;
		width: 100%;
		color: #386EA4;
		margin: 0;
		/*border-bottom: 2px solid #E67731;*/
		border-radius: 5px;
		cursor: pointer;
	}

	.menu ul li{
		float: left;
		padding: 4px 25px;
		font-weight: bold;
		font-size: 14px;
		transition: all 0.25s ease;
		border-top: 3px solid #fff;
	}

	.menu ul li a{
		padding: 5px 10px;
		display: block;
		color: #386EA4;
		text-decoration: none;
	}

	.menu ul li:hover{
		color: #E67731;;
		border-top: 3px solid #E67731;

	}

	.menu ul li:hover a{
		color: #E67731;
	}

	.menu ul li:hover > ul{
		margin: 0;
		padding: 0;
	}

	.menu ul li:hover > ul li{
		float:none;
		display: block;
	}

	.menu ul li:hover > ul li a{
		color: #386EA4;
		min-width: 300px;

	}

	.menu ul li:hover > ul li a:hover{
		color: #E67731;

	}

	.menu ul li{
		position: relative;
	}

	.menu ul li ul{
		position: absolute;
		top: 32px;
		left: 0px;
		min-width: 400px;
		border: none;
		box-shadow: 1px 3px 3px #ccc;
		border-radius: 0 0 5px 5px;
		z-index: 6;
	}

	.menu ul li ul li{
		border-top: none;
		border-left: 3px solid #fff;
		border-bottom: 1px solid #CCC;

	}

	.menu ul li ul li:hover{
		border-top: none;
		border-left: 3px solid #E67731;
	}

	.menu ul li.active{
		color: #E67731;
	}



	.forgot-link{
		float: right;
		margin: 5px;
		/* width: 100%; */
	}

	.forgot-link p{
		font-size: 13px;
		font-weight: bold;
		display: inline-block;
		margin: 0 6px;
		float: right;
	}

	.forgot-link a{
		color: #242424;
		text-decoration: none;
	}

	.forgot-link a:hover{
		color: #E67731;
	}

	.login{
		float: right;
		background: #fff;
		margin: 8px 25px 0 0;
		height: 35px;
	}

	.login p{
		margin: 9px 6px;
		display: inline-block;
	}

	.login label{
		font-size: 12px;
		font-weight: bold;
	}

	.loginForm form p input{
		width: 125px;
		min-width: 125px;
		border-radius: 2px;
		border: 1px solid #aaa;
		padding: 3px 5px;
	}

	.loginForm label{
		width: 70px;
	}



	.loginForm form p input[type=submit]{
		width: 65px;
		min-width: 65px;
		-webkit-border-radius: 3px;
		border-radius: 3px;
		font-size: 12px;
		font-weight: bold;
		text-decoration: none;
		color: #fff;
		display: inline-block;
		zoom: 1;
		margin: 0 0 0 10px;
		cursor: pointer;
		text-align: center;
		padding: 4px 8px;
		width: auto;
		overflow: visible;
		line-height: 110%;
		background: -webkit-linear-gradient(rgba(220,109,39,1),rgba(230,119,49,1));
		background: -moz-linear-gradient(rgba(220,109,39,1),rgba(230,119,49,1));
		background: -ms-linear-gradient(rgba(220,109,39,1),rgba(230,119,49,1));
		background: -o-linear-gradient(rgba(220,109,39,1),rgba(230,119,49,1));
		background: linear-gradient(rgba(220,109,39,1),rgba(230,119,49,1));
		border: 1px solid rgba(84,84,84,.45);
		-webkit-box-shadow: inset 0 1px rgba(255,255,255,.4),0 2px 1px rgba(0,0,0,.1);
		box-shadow: inset 0 1px rgba(255,255,255,.4),0 2px 1px rgba(0,0,0,.1);
		-webkit-transition: all .2s ease;
		-moz-transition: all .2s ease;
		-o-transition: all .2s ease;
		transition: all .2s ease;
	}


	.login input[type=submit]:hover{
		background: -webkit-linear-gradient(rgba(250,139,79,1),rgba(240,129,59,1));
		background: -moz-linear-gradient(rgba(250,139,79,1),rgba(240,129,59,1));
		background: -ms-linear-gradient(rgba(250,139,79,1),rgba(240,129,59,1));
		background: -o-linear-gradient(rgba(250,139,79,1),rgba(240,129,59,1));
		background: linear-gradient(rgba(250,139,79,1),rgba(240,129,59,1));
		border: 1px solid rgba(84,84,84,.45);
		text-decoration: none;
	}


	/*----------GLOBAL----------*/

	body{
		background: #386EA4;
		font-family: 'Open Sans', sans-serif;
		margin: 0 auto;
		font-size: 13px;
	}

	.container{
		width: 96%;
		margin: 0 auto;
		margin-top: 20px;
	}

	.clear{
		clear: both;
		display: block;
		overflow: hidden;
		visibility: hidden;
		width: 0;
		height: 0;
	}


	/*----------TITLE----------*/

	.brand{
		background: #ffffff;
		height: 80px;
		/* border-top-left-radius: 3px; */
		/* border-top-right-radius: 3px; */
		border-radius: 3px;
		border-bottom: 2px solid #E67731;
		margin-bottom: 10px;
	}

	.brand img{
		padding: 5px 5px 5px 10px;
		height: 70px;
	}

	.usersession{
		padding: 20px;
		font-size: 13px;
		font-weight: bold;
	}

	.welcome{
		float: right;
		padding-right: 10px;
	}
	.pending_users{
		float: right;
		padding-right: 10px;
	}

	div.usersession span.welcome{
		background: url(../images/user-icon.png) no-repeat left 0;
		padding-left: 22px;
		height: 18px;
		display: block;
		float: right;
	}
	div.usersession span.pending_users{
		background: url(../images/pending_users.png) no-repeat left 0;
		padding-left: 18px;
		height: 18px;
		display: block;
		float: right;
	}
	div.usersession span.pending_users p{
		margin-top: -10px;
		color: red;
		font-weight: normal;
	}


	div.usersession a.logout{
		background: url(../images/logoff.png) no-repeat left 0;
		padding-left: 22px;
		height: 18px;
		display: block;
		float: right;
		text-decoration: none;
		color: #333;
		transition: color 0.2s ease;
	}

	div.usersession a:hover.logout{
		color: #E67731;
	}

	.main-content{
		background: #fff;
		position: relative;
		z-index: 8;
		border-radius: 0 0 5px 5px;
		-moz-border-radius: 0 0 5px 5px;
		min-height: 450px;
		margin:0;
		padding: 30px;
		box-shadow: 1px 2px 7px #2F2F2F;
	}

	.nav{
		width: 100%;
		z-index: 7;
		background: #fff;
		border-radius: 5px 5px 0 0;
		clear: both;
		float: left;
		height: 42px;
	}


	/*----------MENU----------*/

	.main_nav{
		background: #333;
		height: 8px;
		border-top: 3px solid #E67731;
		display: none;
	}

	.main_nav .grid_8{
		margin: 0;
	}

	.main_nav .grid_4{
		margin: 0;
		float: right;
	}

	.main_nav .grid_12{
		margin: 0;
	}

	.mainconfig{
		float: right;
	}

	#cssmenu > ul > li#dashboard > a{
		background: #333333 url("../images/dashboard.png") center left no-repeat;
		background-position-x: 8px;
		padding-left: 45px;
	}

	#cssmenu > ul > li#dashboard > a:hover{
		background-color: #386ea4;
	}

	#cssmenu > ul > li#users > a{
		background: #333333 url("../images/users.png") center left no-repeat;
		background-position-x: 8px;
		padding-left: 45px;

	}

	#cssmenu > ul > li#users > a:hover{
		background-color: #386ea4;
	}

	#cssmenu > ul > li#account > a{
		background: #333333 url("../images/account.png") center left no-repeat;
		background-position-x: 8px;
		padding-left: 45px;
	}

	#cssmenu > ul > li#account > a:hover{
		background-color: #386ea4;
	}

	#cssmenu > ul > li#configuration > a{
		background: #333333 url("../images/configuration.png") center left no-repeat;
		background-position-x: 8px;
		padding-left: 45px;
	}

	#cssmenu > ul > li#configuration > a:hover{
		background-color: #386ea4;
	}

	/*--CUSTOM MENU--*/
	#cssmenu {
		border: none;
		border: 0px;
		margin: 0px;
		padding: 0px;
		font-size: 12px;
		font-weight: bold;
		width: auto;
	}
	#cssmenu ul {
		background: #333333;
		/*height: 35px;*/
		list-style: none;
		margin: 0;
		padding: 0;
		font-weight: bold;
	}
	#cssmenu li {
		float: left;
		padding: 0px;
		text-transform: uppercase;
	}
	#cssmenu li a {
		display: block;
		font-weight: normal;
		line-height: 35px;
		margin: 0px;
		padding: 0px 25px;
		text-align: center;
		text-decoration: none;
		transition: background-color 0.2s ease;
	}
	#cssmenu > ul > li > a {
		color: #ffffff;
		font-weight: bold;
	}
	#cssmenu ul ul a {
		color: #ffffff;
	}
	#cssmenu li > a:hover,
	#cssmenu ul li:hover > a {
		background: #386ea4 bottom center no-repeat;
		color: #ffffff;
		text-decoration: none;
	}
	#cssmenu li ul {
		background: #333333;
		display: none;
		height: auto;
		padding: 0px;
		margin: 0px;
		border: 0px;
		position: absolute;
		width: auto;
		z-index: 200;
  /*border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;*/
}
#cssmenu li:hover ul {
	display: block;
}
#cssmenu li li {
	display: block;
	float: none;
	margin: 0px;
	padding: 0px;
	width: 245px;
}
#cssmenu li:hover li a {
	background: none;
}
#cssmenu li ul a {
	display: block;
	height: 35px;
	font-size: 12px;
	font-weight: bold;
	margin: 0px;
	padding: 0px 10px 0px 15px;
	text-align: left;
	width: auto;
}
#cssmenu li ul a:hover,
#cssmenu li ul li:hover > a {
	background: #386ea4;
	border: 0px;
	color: #ffffff;
	text-decoration: none;
}
#cssmenu p {
	clear: left;
}
#cssmenu ul ul li {
	position: relative;
}
#cssmenu ul ul ul {
	left: -9999px;
	top: 0;
}
#cssmenu ul ul li:hover > ul {
	left: 100%;
}
#cssmenu.align-center > ul > li {
	display: inline-block;
	float: none;
}
#cssmenu.align-center > ul {
	text-align: center;
}
#cssmenu > ul > li {
	position: relative;
}
#cssmenu.align-right > ul > li {
	float: right;
}
#cssmenu.align-right > ul > li:hover > ul {
	right: 0;
	left: auto;
	text-align: right;
}
#cssmenu.align-right ul ul li a {
	text-align: right;
}
#cssmenu.align-right ul ul li:hover > ul {
	left: auto;
	right: 100%;
}


/*----------MAIN CONTENT----------*/

.maincontainer{
	padding: 10px 10px;
	background: #fff;
	/*border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;*/
	border-radius: 3px;
}

.maincontainer hr{
	width: 98%;
	color: #E67731;
	border: 1px solid;
}

/*----------BREADCRUM----------*/

.breadcrumb{
	color: #333;
	font-size: 12px;
	font-weight: bold;
	padding: 4px;
	border: 1px solid #c1c1c1;
	border-radius: 3px;
	padding: 6px 12px;
	margin-top: 8px;
}

.breadcrumb a{
	color: #333333;
	text-decoration: none;
	transition: color 0.2s ease;
}

.breadcrumb a:hover{
	color: #E67731;
}

/*----------MESSAGE----------*/

.response{
	background: #E67731;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	border-radius: 3px;
	height: auto;
}

.response p{
	margin: 2px;
	padding: 8px;
}

.response.success{
	background: #B4D65E;
}

.response.failure{
	background: #F70000;
}



/*----------MAIN----------*/

.main{
	margin: 15px;
	min-height: 250px;
	font-size: 13px;
}

h2{
	margin: 15px 0px 5px 0px;
	padding-bottom: 3px;
	color: #386EA4;
	border-bottom: 2px solid #E67731;
}

h3{
	margin: 10px 0px 5px 0px;
	padding-bottom: 3px;
	color: #386EA4;
	display: inline-block;
}

/*----------TABLE----------*/

table{
	width: 100%;
	font-size: 12px;
	border: 1px solid #C4C4C4;
	border-radius: 3px;
	margin: 5px 0px 10px 0px;
	border-spacing: 0;
}

table, th, td{
	border-collapse: collapse;
	border: 1px solid #C4C4C4;
}
td.capitalize{
	text-transform: capitalize;
}
table tr.table-head, table tr:first-child {
	background: #386ea4;
	color: #ffffff;
}

fieldset#table table tr.table-head, fieldset#table table tr:first-child {
	background: #386ea4;
	color: #ffffff;
	text-align: left;
}

table th{
	background: #fcfcfc;
	color: #222222;
	padding: 6px;
	border: 1px solid #c4c4c4;
	border-spacing: 0;
	border-top: none;
	border-right: none;
}

/* table th:first-child{
	border-left: none;
	border-top: none;
	border-right: none;
}

table th:last-child{
	border-top: none;
	border-right: none;
	} */

	table td{
		padding: 4px 4px 4px 16px;
		border-right: 1px solid #cccccc;
	}

/* table td:last-child{
	border: none;
	} */

	table td.checkbox{
		padding:10px;
	}

	table tr{
		background-color: #f9f6f1;
		border: 1px solid #C4C4C4;
	}

	table tr:nth-child(even){
		background-color: #ffffff;
	}


	a.action-icon{
		height: 20px;
		width: 20px;
		display: inline-block;
		margin-right: 2px;
	}

	.ui-icon{
		width: 16px;
		height: 16px;
		/*background-image: url(../images/ui-icons_222222_256x240.png);*/
		display: block;
		text-indent: -99999px;
		overflow: hidden;
		background-repeat: no-repeat;
	}

	.ui-icon-locked{
		background-position: -192px -96px;
	}

	.ui-icon-pencil{
		background-position: -64px -112px;
	}

	.ui-icon-cancel{
		background-position: 0 -128px;
	}

	.ui-icon-trash{
		background-position: -176px -96px;
	}

	.ui-icon-person{
		background-position: -144px -96px;
	}

	.ui-icon-copy{
		background-position: -176px -128px;
	}

	.ui-icon-arrowthick-1-e{
		background-position: -32px -48px;
	}

	.ui-icon-plusthick{
		background-position: -32px -128px;
	}

	/*---------- 2015-01-09 TABLE----------*/

/* table tr th:last-child{
	width: 10%
	} */

	table.notice tr th:last-child{
		width: 10%;
	}


	.table-checkbox{
		width: 4%;
	}

	.th-actions-3{
		width: 80px;
	}

	th.th-sn{
		width: 4%;
	}

	th.th-userno{
		width: 15%;
	}


	table#filter tbody tr.table-head{
		background: #386ea4;
		color: #ffffff;
		text-align: left;
		margin-left: 5px;
	}

	table#filter tbody tr.table-head th{
		padding: 4px 12px;
	}


	table#filter tr{
		background-color: #ffffff;
	}


	.tablefooter{
		display: block;
	}

	.pagination{
		font-size: 11px;
		margin: 7px 0;
		text-align: right;
	}

	.tablefooter .pagination{
		float: right;
		padding: 5px 10px;
	}

	.pagination a{
		padding: 4px 7px;
		color: #333;
		background: white;
		margin: 0;
		border: 1px solid #E4E4E4;
		text-decoration: none;
		border-radius: 3px;
	}

	.pagination a.current{
		font-weight: bold;
		color: #ffffff;
		background: #386ea4;
		border: 1px solid #386ea4;
	}

	/*----------FORM----------*/

	fieldset{
		padding: 0 8px 12px 8px;
		background-color: #f9f6f1;
		border: #C4C4C4 1px solid;
		margin: 0 0 8px 0;
		border-radius: 3px;
	}

	fieldset legend{
		padding: 4px 15px;
		font-weight: bold;
		/*background-color: #386ea4;*/
		margin-left: 15px;
		color: #ffffff;
		border-radius: 3px;
		/* background: linear-gradient(rgba(56, 110, 164, 1), rgba(66, 120, 174, 1)); */

		background: -webkit-linear-gradient(rgba(56, 110, 164, 1), rgba(66, 120, 174, 1));
		background: -o-linear-gradient(rgba(56, 110, 164, 1), rgba(66, 120, 174, 1)); 
		background: -moz-linear-gradient(rgba(56, 110, 164, 1), rgba(66, 120, 174, 1));
		background: linear-gradient(rgba(56, 110, 164, 1), rgba(66, 120, 174, 1)); 

		border: 1px solid #666666;
		box-shadow: inset 0 1px rgba(255,255,255,0.4), 0 2px 1px rgba(0,0,0,0.1);
	}

	form#form-edituser fieldset{
		min-height: 315px;
	}

	form#form-createuser fieldset{
		min-height: 398px;
	}

	form#form-editbankuser fieldset{
		min-height: 285px;
	}

	form#form-editprofile fieldset{
		min-height: 455px;
	}

	form#form-changepwd fieldset{
		min-height: 135px;
	}

	label{
		width: 20%;
		display: block;
		float: left;
		text-align: right;
		margin-right: 20px;
		padding: 2px;
		font-weight: bold;
		cursor: pointer;
		line-height: 16px;
	}

	p.element{
		margin-bottom: 5px;
		padding: 0px;
	}


	em.required{
		color: #B8272F;
	}


	form input[type=button], form input[type=submit], form input[type=reset]{

	/*border-radius: 3px;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	color: #ffffff;
	display: inline-block;
	zoom: 1;
	margin: 0 3px 0 1px;
	outline: none;
	cursor: pointer;
	text-align: center;
	padding: 8px 10px;
	width: auto;
	overflow: visible;
	line-height: 110%;
	background: #E67731;
	transition: background-color 0.2s ease;
	border: none;*/

	border-radius: 3px;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	color: #ffffff;
	display: inline-block;
	zoom: 1;
	margin: 0 3px 0 1px;
	outline: none;
	cursor: pointer;
	text-align: center;
	padding: 8px 10px;
	width: auto;
	overflow: visible;
	line-height: 110%;
	/* background: linear-gradient(rgba(220, 109, 39, 1), rgba(230, 119, 49, 1)); */
	
	background: -webkit-linear-gradient(rgba(220, 109, 39, 1), rgba(230, 119, 49, 1));
	background: -o-linear-gradient(rgba(220, 109, 39, 1), rgba(230, 119, 49, 1)); 
	background: -moz-linear-gradient(rgba(220, 109, 39, 1), rgba(230, 119, 49, 1));
	background: linear-gradient(rgba(220, 109, 39, 1), rgba(230, 119, 49, 1)); 

	border: 1px solid #666666;
	box-shadow: inset 0 1px rgba(255,255,255,0.4), 0 2px 1px rgba(0,0,0,0.1);
	transition: all 0.2s ease;
}

form input[type=button]:hover, form input[type=submit]:hover, form input[type=reset]:hover{
	/*background: #FF883D;*/
	background: -webkit-linear-gradient(rgba(250, 139, 79, 1), rgba(240, 129, 59, 1));
	background: -o-linear-gradient(rgba(250, 139, 79, 1), rgba(240, 129, 59, 1)); 
	background: -moz-linear-gradient(rgba(250, 139, 79, 1), rgba(240, 129, 59, 1));
	background: linear-gradient(rgba(250, 139, 79, 1), rgba(240, 129, 59, 1)); 

}

.button{
	/*border-radius: 3px;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	color: #ffffff;
	display: inline-block;
	zoom: 1;
	margin: 0 3px 0 1px;
	outline: none;
	cursor: pointer;
	text-align: center;
	padding: 8px 10px;
	width: auto;
	overflow: visible;
	line-height: 110%;
	background: #E67731;
	transition: background-color 0.2s ease;*/
	/* box-shadow: 0px 2px 0px #BB4800; */

	border-radius: 3px;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
	color: #ffffff;
	display: inline-block;
	zoom: 1;
	margin: 0 3px 0 1px;
	outline: none;
	cursor: pointer;
	text-align: center;
	padding: 8px 10px;
	width: auto;
	overflow: visible;
	line-height: 110%;
	background: linear-gradient(rgba(220, 109, 39, 1), rgba(230, 119, 49, 1));
	border: 1px solid #666666;
	box-shadow: inset 0 1px rgba(255,255,255,0.4), 0 2px 1px rgba(0,0,0,0.1);
	transition: all 0.2s ease;
}

.button:hover{
	/*background: #FF883D;*/
	background: -webkit-linear-gradient(rgba(250, 139, 79, 1), rgba(240, 129, 59, 1));
	background: -o-linear-gradient(rgba(250, 139, 79, 1), rgba(240, 129, 59, 1)); 
	background: -moz-linear-gradient(rgba(250, 139, 79, 1), rgba(240, 129, 59, 1));
	background: linear-gradient(rgba(250, 139, 79, 1), rgba(240, 129, 59, 1)); 
}

.buttongroup{
	margin: 0;
}

.ui-widget-content a{
	color: #ffffff;
}


/*----------CONFIGURATION PAGE----------*/

.launcher_icons{
	text-align: center;
}

.launcher_icons ul{
	margin-top: 20px;
}

.launcher_icons ul li{
	width: 92px;
	margin: 0 20px 20px 0;
	display: -moz-inline-stack;
	display: inline-block;
	vertical-align: top;
}

.launcher_icons ul li a{
	display: block;
	padding: 5px;
	border: 1px solid #C1C1C1;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	/*-webkit-box-shadow: inset 0 0 15px #f4f4f4;
	-moz-box-shadow: inset 0 0 15px #f4f4f4;
	box-shadow: inset 0 0 15px #f4f4f4;*/
	text-decoration: none;
	transition: background-color 0.2s ease;
}

.launcher_icons ul li a:hover{
	background-color: #f9f6f1;
}

.launcher_icons ul li a span{
	color: #333;
	display: block;
	font-size: 12px;
	font-weight: bold;
}

/*----------FOOTER----------*/
.footer{
	margin: 10px 0px 10px 0px;
	background: #fff;
	height: 60px;
	border-top: 2px solid #E67731;
	position: absolute;
	width: 96%;
	border-radius: 3px;
}
.footer img{
	height: 50px;
	padding: 5px;
	float: right;
}

/*notice button*/

.notice_header fieldset{
	padding: 0;
	width: 96%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
}

.notice_header table{
	border: none;
	margin: 0;
}

.notice_header table tr:first-child{
	background: #f9f6f1;
}

.notice_header table th{
	background: none;
	color: #a2a2a2;
	font-size: 18px;
	padding: 0;
	border: 0;
	width: auto;
}

.notice_header table th:last-child{
	width: auto;
}

.notice_header table th ul li a{
	color: #333333;
	transition: color 0.2s ease;
}

.notice_header table th ul li a:hover{
	color: #FF883D;
}

.notice_header table th ul li a:active{
	color: #FF883D;
}

.notice_header ul{
	/*margin-top: 10px;*/
	/*background: rgb(86, 180, 93); text-align: center;*/
	margin-right: 5px;
}

.notice_header ul li{
	list-style: none;
	float: center;
	font-size: 15px;
	padding: 10px;
}

/*.notice_header ul li{
	list-style: none;
	float: left;
	background: rgb(120, 223, 127);
	font-size: 16px;
	padding: 10px;
	border: 4px solid #4787c1; 
	min-width: 170px;
	min-width: 202px;
	background-color: #FF883D !important;
}

.notice_header ul li a, .notice_header ul li span {
		float: left;
}
*/

.notice_header ul li em{
	background: rgb(221, 33, 33);
	color: white;
	font-size: 12px;
	padding: 3px 7px;
	border-radius: 20px;
	font-weight: bold;
}

.notice_header ul li em.checked{
	background: url(../images/checked.png) no-repeat;
	height: 18px;
	width: 18px;
	margin: 0;
	padding: 0;
	display: inline-block;
}

input[readonly="readonly"], input[readonly]
{
	background-color: #EEE;
	border: 1px solid #CCC;
}


/*----------UI TABS----------*/
.ui-tabs{
	overflow: auto;
}

.ui-widget{
	font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
	font-size: 13px;
}

.ui-tabs .ui-tabs-nav li.ui-tabs-selected{
	font-weight: bold;
}

.ms-container{
	overflow: auto;
}

.ms-container .ms-selectable{
	margin-right: 30px;
}

/*----------CA-PAGE----------*/

.info{
	font-size: 14px;
}

.info-menu{
	padding: 10px 0;
	overflow: auto;
}

.info-icons{

}

.info-menu .grid_4{
	clear: n;
}

.info-icons ul{
	padding: 5px 0; 
	/*margin: 0;*/
	line-height: 16px;
	margin: 28px 0;
}


.info-icons ul li{
	display: inline;
	max-width: 230px;
	list-style-type: none;
	border: 1px solid #C1C1C1;
	/*border-radius: 3px;*/
	border-radius: 100%;
	/*padding: 12px 12px 12px 45px;*/
	padding: 18px 25px;
	margin: 5px;
	transition: padding 0.2s ease-out;
	text-align: center;
	color: #000;
	font-weight: bold;
}

/*.info-icons ul li:hover{
	background-color: #f9f6f1;
	}*/

	/* icons */
	.info-icons ul li a{
		text-decoration: none;
		color: #000000;
		font-weight: bold;
	}

	.info-icon-1{
		background: #ffffff url("../images/add-notice.png") center center no-repeat;
	}

	.info-icon-2{
		background: #ffffff url("../images/edit-notice.png") center center no-repeat;
	}

	.info-icon-3{
		background: #ffffff url("../images/search-notice.png") center center no-repeat;
	}

	.info-icon-4{
		background: #ffffff url("../images/certified-search.png") center center no-repeat;
	}

	.info-icon-5{
		background: #ffffff url("../images/update-account.png") center center no-repeat;
	}

	.info-icon-6{
		background: #ffffff url("../images/view-account.png") center center no-repeat;
	}

	.info-icon-7{
		background: #ffffff url("../images/view-statement.png") center center no-repeat;
	}

	.info-icon-8{
		background: #ffffff url("../images/session-logout.png") center center no-repeat;
	}

	.info-icon-9{
		background: #ffffff url("../images/enter-receipt.png") center center no-repeat;
	}

	.info-icon-10{
		background: #ffffff url("../images/list-receipt.png") center center no-repeat;
	}


	.info-icon-11{
		background: #ffffff url("../images/change-password.png") center center no-repeat;
	}

	.info-icon-12{
		background: #ffffff url("../images/configuration.png") center center no-repeat;
	}

	.info-icon-13{
		background: #ffffff url("../images/client-gov.png") center center no-repeat;
	}

	.info-icon-14{
		background: #ffffff url("../images/sub-users.png") center center no-repeat;
	}

	.info-icon-15{
		background: #ffffff url("../images/add-notice-lein.png") center center no-repeat;
	}

	.info-icon-16{
		background: #ffffff url("../images/search-cert-notice.png") center center no-repeat;
	}

	.info-icon-17{
		background: #ffffff url("../images/list-voucher.png") center center no-repeat;
	}

	.info-icon-18{
		background: #ffffff url("../images/refund-account.png") center center no-repeat;
	}

	.info-icon-19{
		background: #ffffff url("../images/list-refund-request.png") center center no-repeat;
	}

	.info-icon-20{
		background: #ffffff url("../images/report.png") center center no-repeat;
	}

	.info-icon-21{
		background: #ffffff url("../images/refund-non-client.png") center center no-repeat;
	}

	.info-icon-22{
		background: #ffffff url("../images/apply-bank-receipt.png") center center no-repeat;
	}

	.info-icon-23{
		background: #ffffff url("../images/list-report.png") center center no-repeat;
	}
	
	.info-icons ul:hover #info-icons{
		text-decoration: underline;
		border-radius: 100%;
		padding: 22px 29px;
	}



	.info-icons ul li.info-text{
		padding: 0;
		margin: 0;
		border: none;
		font-weight: bold;
		color: #000;
	}


	.info-text a{
		text-decoration: none;
		color: #000000;
		font-weight: bold;
	}

	.info-text a:hover{
		text-decoration: underline;
		background-color: none;
	}

	a.btn-link,span.btn-link,button.btn-link{
		/*border-radius: 3px;
		font-size: 12px;
		font-weight: bold;
		text-decoration: none;
		color: #ffffff;
		display: inline-block;
		zoom: 1;
		margin: 0 3px 0 1px;
		outline: none;
		cursor: pointer;
		text-align: center;
		padding: 8px 10px;
		width: auto;
		overflow: visible;
		line-height: 110%;
		background: #E67731;
		transition: background-color 0.2s ease;
		border: none;*/

		border-radius: 3px;
		font-size: 12px;
		font-weight: bold;
		text-decoration: none;
		color: #ffffff;
		display: inline-block;
		zoom: 1;
		margin: 0 3px 0 1px;
		outline: none;
		cursor: pointer;
		text-align: center;
		padding: 8px 10px;
		width: auto;
		overflow: visible;
		line-height: 110%;
		background: linear-gradient(rgba(220, 109, 39, 1), rgba(230, 119, 49, 1));
		border: 1px solid #666666;
		box-shadow: inset 0 1px rgba(255,255,255,0.4), 0 2px 1px rgba(0,0,0,0.1);
		transition: all 0.2s ease;
		background: -webkit-linear-gradient(rgba(220, 109, 39, 1), rgba(230, 119, 49, 1));
		background: -o-linear-gradient(rgba(220, 109, 39, 1), rgba(230, 119, 49, 1)); 
		background: -moz-linear-gradient(rgba(220, 109, 39, 1), rgba(230, 119, 49, 1));
		background: linear-gradient(rgba(220, 109, 39, 1), rgba(230, 119, 49, 1)); 	}

		a.btn-link:hover,span.btn-link:hover,button.btn-link{
			/*background: #FF883D;*/
			background: linear-gradient(rgba(250, 139, 79, 1), rgba(240, 129, 59, 1));
		}

		a.btn-disable,span.btn-disable{
			opacity: 0.4;
		}


		a.btn-link-small,span.btn-link-small{
			border-radius: 2px;
			font-size: 10px;
			font-weight: bold;
			text-decoration: none;
			color: #ffffff;
			display: inline-block;
			zoom: 1;
			margin: 0 3px 0 1px;
			outline: none;
			cursor: pointer;
			text-align: center;
			padding: 2px 2px;
			width: auto;
			overflow: visible;
			line-height: 110%;
			background: -webkit-linear-gradient(rgba(220, 109, 39, 1), rgba(230, 119, 49, 1));
			background: -o-linear-gradient(rgba(220, 109, 39, 1), rgba(230, 119, 49, 1)); 
			background: -moz-linear-gradient(rgba(220, 109, 39, 1), rgba(230, 119, 49, 1));
			background: linear-gradient(rgba(220, 109, 39, 1), rgba(230, 119, 49, 1)); 
			border: 1px solid #666666;
			box-shadow: inset 0 1px rgba(255,255,255,0.4), 0 2px 1px rgba(0,0,0,0.1);
			transition: all 0.2s ease;
			text-transform: capitalize;
		}

		a.btn-link-small:hover,span.btn-link-small:hover{
			/*background: #FF883D;*/
			background: -webkit-linear-gradient(rgba(250, 139, 79, 1), rgba(240, 129, 59, 1));
			background: -o-linear-gradient(rgba(250, 139, 79, 1), rgba(240, 129, 59, 1)); 
			background: -moz-linear-gradient(rgba(250, 139, 79, 1), rgba(240, 129, 59, 1));
			background: linear-gradient(rgba(250, 139, 79, 1), rgba(240, 129, 59, 1));
		}

		a.btn-disable-small,span.btn-disable-small{
			opacity: 0.4;
		}


		/* ------------- blocked user -------------------*/
		.section tr.blocked{
			background-color: #E2CCBE !important;
		}
		.section tr.current_user{
			background-color: #C2F07D !important;
		}

		/*----------FORMS----------*/

		.info{
			font-style: italic;
		}

		label.info{
			font-style: italic;
			font-weight: normal;
			text-align: left;
			width: 100%;
			margin: 5px 0 5px 24%;
		}


		.field-info{
			float: right;
			width: 180px;
		}


		/*---------- ----------*/
		.btn-link-group{
			margin: 10px 0;

		}

		/*---------- table row changed at amend ----------*/
		tr.changed{
			background-color: #DBF0AE !important;
		}



		/*---------- inline labels  ----------*/

		#fs-rcp p.element{
			margin: 10px 0;
			padding: 10px;
			display: table-cell;
			width: auto;
		}
		#fs-rcp label{
			width: auto;
			margin-left: 20px;
		}

		#fs-rcp .sublabel{
			font-weight: normal;
		}

		/*----------FORMS----------*/

		.front .main-content form select{
			width: 242px;
		}

		form select{
			padding: 5px;
			width: 243px;
			border-radius: 3px;
			font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
			/*min-width: 275px;*/
			border: 1px solid #bbb;
		}

		.front .main-content form input[type=text], .front .main-content input:not([type]), .front .main-content form input[type=number], .front .main-content form input[type=tel], .front .main-content form input[type=password], .front .main-content form input[type=email]{
			width: 243px;
		}

		form input[type=text], input:not([type]), form input[type=number],form input[type=tel], form input[type=password], form input[type=email]{
			padding: 5px;
			width: 231px;
			border-radius: 3px;
			font-family: 'Roboto', 'Arial', 'Helvetica', sans-serif;
			/*min-width: 275px;*/
			border: 1px solid #bbb;
		}

		textarea{
			min-width: 234px;
			font-family: "Roboto","Arial","Helvetica",sans-serif;
			padding: 5px !important;
		}

		.info{
			margin: 15px 0;
			font-style: italic;
		}


		.field-info{
			float: right;
			width: 180px;
		}


		/*---------- 2015-01-09 - Notice Header----------*/

		.notice_header ul{
			margin: 0;
			padding: 0;
		}

		.notice_header ul li a{
			text-decoration: none;
		}

		.notice_header ul li em{
			background: rgb(221, 33, 33);
			color: white;
			font-size: 12px;
			padding: 3px 7px;
			border-radius: 20px;
			font-weight: bold;
		}

		.notice_header ul li em.checked{
			background: url(../images/checked.png) no-repeat;
			height: 18px;
			width: 18px;
			margin: 0;
			padding: 0;
			display: inline-block;
		}

		/*-----2014-11-20 - Search notice - tabbed radio----------*/

		#tabbed-radio{
			border: 1px solid #cccccc;
			width: 410px;
			margin: 12px auto 20px auto;
			padding: 3px 8px 12px 8px;
			border-radius: 5px;
			background: #ffffff;
			font-size: 15px;
		}

		#tabbed-radio input[type=radio]{
			position: absolute;
			clip: rect(0,0,0,0);
			pointer-events: none;
		}

		#tabbed-radio label{
			margin: 0 2px;
			width: auto;
			border-right: 1px solid #cccccc;
			padding: 0 15px;
			transition: color 0.25s ease;
		}

		#tabbed-radio label:last-child{
			border: none;
		}

		#tabbed-radio label:hover{
			color: #FF883D;
		}

		#tabbed-radio select, input[type=text]{
			min-width: 226px;
			padding: 2px;
		}

		/************** 2014-11-20 form validation ***************/
		span.error{text-align:left;color:red; font-size:13px; margin-left:5px;}



		/*--------2014-11-19 - certificate --------*/

	/*.inside-report{
		border: 1px solid #aaaaaa;
		border-radius: 5px;
		padding: 6px 14px;
	}

	.inside-report h3{
		font-size: 16px;
		color: #4660E2;
		width: 100%;
		text-align: center;
		margin: 14px 0 20px 0;
	}


	.inside-report .signed{
		border: 1px solid #aaaaaa;
		border-radius: 3px;
		margin: 5px;
		padding: 6px 8px;
		width: 47%;
		height: 50px;
		float: left;
	}

	.inside-report .cib-address{
		border: 1px solid #aaaaaa;
		border-radius: 3px;
		margin: 5px;
		padding: 6px 8px;
		width: 47%;
		height: 50px;
		float: left;
	}

	.inside-report .search-details{
		margin: 15px 0;
	}

	.inside-report .search-details .head{
		font-weight: bold;
		text-decoration: underline;
	}


	.inside-report .search-details p{
		margin: 2px 0; 
	}

	.inside-report h4{
		font-size: 14px;

	}

	.inside-report .section{
		margin: 0 0 15px 0;
	}

	.inside-report .section ul li{
		display: inline;
		margin-right: 4px;
	}


	.inside-report .section ul{
		margin: 5px 0;
	}

	.inside-report .section span{
		font-weight: bold;
		margin: 10px 0 0 0;
	}

	.description{
		margin: 5px 0;
		font-weight: bold;
	}

	#cert-box{
		width: 100%;
		border: none;
	}

	#cert-box tr{
		background: #ffffff;
		color: #333333;
	}

	#cert-box td{
		border: 1px solid #c4c4c4;
		border-radius: 3px;
		vertical-align: top;
	}

	.signed-block{
		width: 50%
	}

	#cert-box-record{
		width: 100%;
		border: none;
	}

	#cert-box-record th{
		background: #ffffff;
		color: #333333;
	}

	#cert-box-record tr{
		background: #ffffff;
		color: #333333;
	}

	#cert-box-record td{
		border: 1px solid #c4c4c4;
		border-radius: 3px;
		vertical-align: top;
		text-align: center;
	}

	.cert-lable-head{
		font-weight: bold;
		}*/


		/*--------------2014-11-30 - Certificate----------------------------*/

		#inside-content{

			/*for notice print 2015-01-09*/

			position: relative;
			z-index: 200;
			margin: 0 auto;
			background: white;
			-moz-border-radius: 3px;
			-webkit-border-radius: 3px;
			border-radius: 3px;
			-moz-box-shadow: 0px 0px 18px #BBB;
			-webkit-box-shadow: 0px 0px 18px #BBB;
			box-shadow: 0px 0px 18px #BBB;
			padding: 30px;
			min-height: 450px;
			width: 80%;
		}

		.inside-report{
			border: 1px solid #aaaaaa;
			border-radius: 5px;
			padding: 6px 14px;
			color: #000000;
		}

		.inside-report hr{
			border: 1px solid #666666;
			border-bottom: none;
			margin: 20px 0;
		}

		.inside-report hr#dashed{
			border: 1px dashed #666666;
			border-bottom: none;
			margin: 20px 0;
		}


		#cert-title{
			font-size: 22px;
			font-weight: bold;
			text-align: center;
			border: 1px solid #aaaaaa;
			border-radius: 3px;
			margin: 24px 3px;
			padding: 10px 0;
			/*background: #99CC00;*/
			text-transform: capitalize;
		}

		#cert-subtitle{
			font-size: 18px;
			font-weight: bold;
			text-align: center;
			margin: 20px 3px 30px 3px;
			width: 100%;
			text-transform: capitalize;
		}

		.inside-report h3{
			font-size: 16px;
			color: #000000;
			margin: 35px 0 15px 0;
		}

		.inside-report h4{
			font-size: 14px;
			margin: 20px 0 10px 0;
			color: #4660E2;
			text-transform: capitalize;
		}


		.inside-report .signed{
			border: 1px solid #aaaaaa;
			border-radius: 3px;
			margin: 5px;
			padding: 6px 8px;
			width: 47%;
			height: 50px;
			float: left;
		}

		.inside-report .cib-address{
			border: 1px solid #aaaaaa;
			border-radius: 3px;
			margin: 5px;
			padding: 6px 8px;
			width: 47%;
			height: 50px;
			float: left;
		}

		.inside-report .search-details{
			margin: 15px 0;
		}

		.inside-report .search-details .head{
			font-weight: bold;
			text-decoration: underline;
		}


		.inside-report .search-details p{
			margin: 2px 0; 
		}



		.inside-report .section{
			margin: 0 0 15px 0;
		}

		.inside-report .section ul li{
			display: inline;
			margin-right: 4px;
		}


		.inside-report .section ul{
			margin: 5px 0;
		}

		.inside-report .section span{
			font-weight: bold;
			margin: 10px 0 0 0;
		}

		.description{
			margin: 5px 0;
			font-weight: bold;
		}

		#cert-box{
			width: 100%;
			border: none;
			text-transform: capitalize;
		}

		#cert-box th{
			background: #ffffff;
			color: #333333;
		}

		#cert-box tr{
			background: #ffffff;
			color: #333333;
		}

		#cert-box td{
			border: 1px solid #c4c4c4;
			border-radius: 3px;
			vertical-align: top;
			padding: 7px 12px;
		}

		.signed-block{
			width: 50%
		}

		#cert-box-record{
			width: 100%;
			border: none;
		}



		#cert-box-record tr{
			background: #ffffff;
			color: #333333;
		}

		#cert-box-record td{
			border-radius: 3px;
			vertical-align: top;
			text-align: center;
		}


		#cert-box-table{
			width: 100%;
			border-spacing: 0px;
			border-radius: 3px;
			margin: 10px 0;
			border:none;
		}

		#cert-box-table th{
			background: #ffffff;
			color: #333333;
			padding: 8px 2px 10px 2px;
			border-spacing: 0;
			text-align: left;
			border: none;
			width: auto;
		}

		#cert-box-table tr{
			background: #ffffff;
			color: #333333;
			padding: 2px;
			border: none;

		}

		#cert-box-table td{
			padding: 2px;
			border-spacing: 0;
			font-weight: bold;
			border: none;
		}


		.cert-lable-head{
			font-weight: bold;
		}


		#print-pdf-block{
			float: right;
		}

		#print-pdf-block ul li{
			display: inline;
			margin-left: 5px;

			margin-top: -18px;
		}

		.printbtn{
			cursor: pointer;
		}
		.capitalize{
			text-transform: capitalize;
		}



		/************ 30 dec 2014 printing banck receipt ***********/
		.voucher{
			width: 60%;
			padding: 10px 20px;
			margin: 0 auto;
			background: #fff;
			border: 1px solid #bbb;
			border-radius: 3px;
		}
		.voucher .header{
			margin-top: 0;
			min-height: 75px;
		}
		.voucher p{
			font-weight: bold;
			font-size: 12px;
			margin-bottom: 10px;
		}

		.voucher p span{
			border-bottom: 1px dashed #222;
		}
		.voucher p label{
			/*margin-left: 20%;*/
			/*width: 50%;*/
			text-transform: capitalize;
			cursor: default;
			text-align: left;
			width: 140px;
		}


		.voucher .logo{
			text-align: center;
			/*border-bottom: 1px solid #bbb;*/
			width: 100%;
			float: left;
		}

		.voucher .logo img{
			margin: 0;
			/*padding: 20px;*/
			height:55px;
		}

		.voucher .bank-details{
			float: left;
		}

		.voucher .date{
			float: right;
		}



		.voucher .date p label{
			width: 100px;
		}

		.voucher .date p span{
			text-transform: uppercase;
		}

		.voucher .bank-details p label{
			width: 100px;
		}

		.voucher .title{
			border-top: 1px dashed #222;
			padding-top: 10px;
			margin: 8px 0;
		}

		.voucher .title p{
			text-align: center;
			font-weight: bold;
			font-size: 24px;
		}

		.voucher .details{
			padding: 10px 0 0 0;
			min-height: 150px;
	/*border: 1px dashed #BBB;
	margin: 10 20px;*/
}


.voucher .details label{
	text-align: left;
	/*margin-right: 10px;
	width: 50%;*/
}

.voucher .remarks{
	padding: 10px 0;
	min-height: 150px;
	display:inline;
	/*border: 1px dashed #BBB;
	margin: 10 20px;*/
}
.remarks-box{
	margin-left: 160px;
	min-height: 95px;
	width: 60%
}

.voucher .signature{
	margin: 80px 0 10px 0;
	/*padding: 0 30px;*/
}

.voucher .signature p{
	padding: 5px 0;
	border-top: 1px solid #bbb;
	width: 200px;
}
.voucher span{
	text-transform: capitalize;
}

/************ 30 dec 2014 printing banck receipt ***********/

.banner{
	background: #fff;
	margin: 50px 0 0 0;

}

.banner-desc{
	width: 100%;
	background: rgba(255,255,255,0.4);
}

.banner-desc p{
	color: #FFFFFF;
	font-size: 15px;
	font-weight: bold;
	margin-top: -40px;
	padding: 0 20px;
}

.banner img{
	width: 100%;
}


/************* print media qry *************/
#print-pdf-block{
	float: right;
}

#print-pdf-block ul li{
	display: inline;
	margin-left: 5px;
	
	margin-top: -18px;
}

#btn-print{
	margin-bottom: 10px;
}

/*---------NO-PRINT----------------------*/

@media print
{    

	body{
		background: none !important;
	}
	header {  display: none; }

}

/*------------ ajxa error ******************/
#ajaxerror, #ajaxerror1{
	color: red;
}

/*------------ overiding jquery css dialog ******************/

/* .ui-dialog .ui-dialog-titlebar-close span {
	margin: 0px;
	} */

	.ui-dialog{
		z-index: 100;
	}

	.ui-dialog .ui-dialog-titlebar-close span{
		margin: -8px 0 0 -8px;
	}

	a.approve-link.clicked,
	input[type=submit].submit-disabled,
	.submit-disabled{
		pointer-events: none;
		cursor: default;
		color: #F6EEEE;
		background: linear-gradient(#EA8A0D, #F3AD83) repeat scroll 0% 0% transparent;
	}

	.text-left{
		text-align: left;
	}


	/* uniform design for jquery ui table 1st row */
	.ui-datepicker-calendar tbody tr:first-child{
		background-color: white !important;
	}

	/*nepali datepicker*/
	#ndp-nepali-box{
		z-index: 10 !important;
	}


