/* Styles for Max Length plugin v1.1.0 */
.maxlength-feedback {
	margin-left: 2px;
	font-size: 10px;
	float: left;
}
.maxlength-full {
	background-color: #fee;
}
.maxlength-overflow {
	background-color: #fcc;
}
.maxlength-disabled {
	opacity: 0.5;
}
